services:
  mongo:
    image: mongo:7.0
    ports: ["27018:27017"]
    volumes: 
      - mongo-data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5

  api:
    build: .
    container_name: video-server
    ports: ["3070:3070"]
    volumes:
      - ./uploads:/app/uploads:z
    env_file: .env
    environment:
      - MONGO_URI=mongodb://mongo:27017/videoLibrary
    depends_on: 
      mongo:
        condition: service_healthy
    
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3070/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

volumes:
  mongo-data:
