services:
  mongo:
    image: mongo:7.0
    ports: ["27017:27017"]
    volumes: [mongo-data:/data/db]

  api:
    build: .
    ports: ["3070:3070"]
    volumes:
      - ./uploads:/app/uploads
    env_file: .env
    environment:
      - MONGO_URI=mongodb://mongo:27017/videoLibrary
    depends_on: [mongo]

volumes:
  mongo-data:
